@import "../../mixins.scss";

.carouselSection {
  position: relative;
  margin-bottom: 4.2em;

  & > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25em;
  }

  .carouselTitle {
    font-size: 1.215rem;
    font-weight: 500;

    @include md {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
