@import "../../mixins.scss";

.header {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  height: 3.5em;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  &.top {
    background: transparent
  }
  &.show {
    background-color: var(--black3);
  }
  &.hide {
    transform: translateY(-3.5em);
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    img {
      height: 3em;
    }
    p {
      font-size: 1.215rem;
      font-weight: 600;
      color: white;
    }
  }
  .menuItems {
    list-style-type: none;
    display: none;
    align-items: center;
    @include md {
      display: flex;
    }
    .menuItem {
      height: 3.5em;
      display: flex;
      align-items: center;
      margin: 0 1em;
      font-weight: 500;
      position: relative;
      &.searchIcon {
        margin-right: 0;
      }
      svg {
        font-size: 1.125rem;
      }
      cursor: pointer;
      &:hover {
        color: var(--teal-light);
      }
    }
  }

  .mobileMenuItems {
    display: flex;
    align-items: center;
    gap: 1.25em;
    @include md {
      display: none;
    }
    svg {
      font-size: 1.125rem;
      color: var(--white);
    }
  }

  &.mobileView {
    background: var(--black3);
    .menuItems {
      display: flex;
      position: absolute;
      top: 3.5em;
      left: 0;
      background: var(--black3);
      flex-direction: column;
      width: 100%;
      padding: 1.25em 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      animation: mobileMenu 0.3s ease forwards;
      .menuItem {
        font-size: 1.25rem;
        width: 100%;
        height: auto;
        padding: 0.875em 1.25em;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:last-child {
          display: none;
        }
      }
    }
  }

  .searchBar {
    width: 100%;
    height: 3.5em;
    background-color: white;
    color: var(--black);
    position: absolute;
    top: 3.5em;
    animation: mobileMenu 0.3s ease forwards;
    .searchInput {
      display: flex;
      align-items: center;
      height: 2.5em;
      margin-top: 0.5em;
      width: 100%;
      svg {
        font-size: 1.25rem;
        flex-shrink: 0;
        margin-left: 0.5em;
        cursor: pointer;
      }
      input {
        width: 100%;
        height: 2.875em;
        background-color: white;
        color: var(--black);
        outline: 0;
        border: 0;
        border-radius: 1.875em 0 0 1.875em;
        padding: 0 0.9em;
        font-size: 0.875rem;
        @include md {
          height: 2.5em;
          font-size: 1.125rem;
          padding: 0 1.875em;
        }
      }
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}
