@mixin sm {
  @media only screen and (min-width: 40em) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: 48em) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 64em) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 80em) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: 96em) {
    @content;
  }
}

@mixin ellipsis($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
